body {
  color: #222;
  /*font-family: "Liberation Mono", sans-serif;*/
  font-family: "Fourier", sans-serif;
  line-height: 1.5;
  /*margin: 1rem;*/
  margin: auto;
  max-width: 768px;
  padding: 2rem 1rem 2rem 1rem;
  /*background: #0a0a0a;*/
  background: #e8e9ed;
  /*color: white;*/
  overflow-wrap: break-word;
  hyphens: auto;
}

header {
  /*border-bottom: 1px solid #222;*/
  margin-bottom: 1rem;
}

footer {
  /*border-top: 1px solid #222;*/
  margin-top: 1rem;
  text-align: center;
}

a {
  color: #00e;
  text-decoration: underline;
}

.title {
    text-align: center;
}

.info {
    text-align: center;
}

pre {
    padding: 5px 5px 5px 5px;
    background: lightgray;
    overflow: scroll;
}

code {
    background: lightgray;
    overflow: scroll;
}

blockquote {
    padding: 5px 5px 5px 5px;
    background: lightgray;
}

blockquote p{
    text-align: center;
    font-style: italic;
    font-family: serif;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

img {
  max-width: 100%;
}

.home-block div {
}

.header {
    font-size: 14pt;
}

.contact-logo {
    height: 35px;
}

/*.contact-logo:hover {
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(5507%) hue-rotate(244deg) brightness(82%) contrast(138%);
}*/


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* full viewport height */
}

.content {
  flex: 1; /* takes up remaining space */
}
